@model IMS.Models.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ ViewBag.Title = "Item";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}
<div class="container">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class=" col-md-6">

            <h1 style="color:mediumslateblue;">Basic</h1>
            <br />
            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="itemname">Item Name/Code:</label>
                </div>
                <div class="form-group col-md-8">
                    <input type="text" , class="form-control" />
                    @*@Html.EditorFor(m => m.ItemName, new { @class = "form-control" })*@
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="type">Type:</label>
                </div>
                <div class="form-group col-md-8">
                    <input list="type" type="text" , class="form-control" />
                    <datalist id="type">
                        <option value="Finished Good" />
                        <option value="Service" />
                        <option value="Raw Material" />
                    </datalist>
                    @*@Html.EditorFor(m => m.Type, new { @class = "form-control" })*@
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="category">Category:</label>
                </div>
                <div class="form-group col-md-8">
                    <input type="text" , class="form-control" />
                    @*@Html.EditorFor(m => m.Category, new { @class = "form-control" })*@
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="description">Description:</label>
                </div>
                <div class="form-group col-md-8">
                    <textarea class="form-control" id="description" rows="3"></textarea>
                    @*@Html.TextAreaFor(m => m.Description, new { @class = "form-control input-lg", @rows = 2, @cols= 5})*@
                </div>
                <br />
                <br />
                <br />

            </div>
            <br />
            <br />
            <br />
         
            <h1 style="color:mediumslateblue;">Cost and Price</h1>
            <br />
            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="cost">Cost:</label>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" , class="form-control" />
                    @*@Html.EditorFor(m => m.Cost, new { @class = "form-control", @style = "width: 200px;" })*@
                </div>
                <div class="form-group col-md-4">

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">

                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="salesprice">Sales Price</label>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="markup">Markup</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="normalprice">Normal Price:</label>
                    <p></p>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" , class="form-control" name="normalprice" placeholder="$0.00" />
                </div>
                <div class="form-group col-md-4">
                    <p style="color:gray;">%0</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="bulkprice">Bulk Price:</label>
                    <p></p>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" , class="form-control" name="bulkprice" placeholder="$0.00" />
                </div>
                <div class="form-group col-md-4">
                    <p style="color:gray;">%0</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="discountprice">Discount Price:</label>
                    <p></p>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" , class="form-control" name="discountprice" placeholder="$0.00" />
                </div>
                <div class="form-group col-md-4">
                    <p style="color:gray;">%0</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h1 style="color:mediumslateblue;">Picture</h1>
            <br />
            <br />
            <img src="https://startupradius.com/wp-content/uploads/2016/06/iterative-product-development-800x533.jpg" class="img-rounded center-block" alt="Magic Cube" width="330" height="230" />
            <br />
            <div class="row">
                <div class="col-md-6 ">
                    <button type="button" class="btn btn-xs btn-space " style="float: left; margin:5px;">Browse</button>
                </div>
                <div class="col-md-6 ">
                    <button type="button" class="btn btn-xs btn-space" style="float: left; margin:5px;">Clear</button>
                </div>
            </div>
           
            <br />
            <br />          
            <h1 style="color:mediumslateblue;">Inventory</h1>
            <br />
           
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Quatility</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" id="location" />
                                <datalist id="location">
                                    <option value="Houston" />
                                    <option value="Los Vegas" />
                                    <option value="Chicago" />
                                </datalist>
                            </td>
                            <td><input type="text" id="quantity"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="location" />
                                <datalist id="location">
                                    <option value="Houston" />
                                    <option value="Los Vegas" />
                                    <option value="Chicago" />
                                </datalist>
                            </td>
                            <td><input type="text" id="quantity"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="location" />
                                <datalist id="location">
                                    <option value="Houston" />
                                    <option value="Los Vegas" />
                                    <option value="Chicago" />
                                </datalist>
                            </td>
                            <td><input type="text" id="quantity"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="location" />
                                <datalist id="location">
                                    <option value="Houston" />
                                    <option value="Los Vegas" />
                                    <option value="Chicago" />
                                </datalist>
                            </td>
                            <td><input type="text" id="quantity"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="location" />
                                <datalist id="location">
                                    <option value="Houston" />
                                    <option value="Los Vegas" />
                                    <option value="Chicago" />
                                </datalist>
                            </td>
                            <td><input type="text" id="quantity"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="location" />
                                <datalist id="location">
                                    <option value="Houston" />
                                    <option value="Los Vegas" />
                                    <option value="Chicago" />
                                </datalist>
                            </td>
                            <td><input type="text" id="quantity"></td>
                        </tr>
                  
                    </tbody>
                </table>
           
        </div>
    </div>

</div>
















